In [1]:
import numpy as np
import pandas as pd
import pickle
from tensorflow.keras.models import load_model

In [2]:
# loading the model 
model=load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
#loading label, Onehot encoder and Standard Scalar
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)
    
with open('oneHot_encoder_gender.pkl','rb') as file:
    oneHot_encoder=pickle.load(file)
    
with open('StandardScaler.pkl','rb') as file:
    StandardScalar=pickle.load(file)

In [4]:
# Example Input
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':6000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000	
}

In [5]:
geo_encoded=oneHot_encoder.transform([[input_data['Geography']]])
geo_encoded_df=pd.DataFrame(geo_encoded,columns=oneHot_encoder.get_feature_names_out())
geo_encoded_df

/Users/barunwason/python/ANN-classification/myenv/lib/python3.11/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [25]:
input_df=pd.DataFrame([input_data])

In [26]:
input_df['Gender']=label_encoder_gender.transform([input_df['Gender']])[0]

/Users/barunwason/python/ANN-classification/myenv/lib/python3.11/site-packages/sklearn/preprocessing/_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [27]:
input_df=pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [28]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,6000,2,1,1,50000,1.0,0.0,0.0

In [32]:
##Scaling the input data

input_scaled=StandardScalar.transform(input_df)
input_scaled

array([[-0.47154541,  0.90911166,  0.09477172, -0.69844549, -1.15940786,
         0.80510537,  0.63367318,  0.95214374, -0.84805047,  0.98019606,
        -0.57581067, -0.56349184]])

In [33]:
## Predict churn

prediction=model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 182ms/step

array([[0.00979224]], dtype=float32)

In [37]:
prediction_proba=prediction[0][0]
if prediction_proba>0.5:
    print("the customer is likely churn")
else:
    print("the customer is not likely churn")

the customer is not likely churn